body {
    margin-bottom: 50px;
    padding: 0;
    background-color: #FFF;
    font-size: 0.9em;
    font-family: 'Oxygen', 'Ubuntu', sans-serif;
}

canvas{
  background:#fff;
  overflow:hidden;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#navigation {
    position: fixed;
    left: 0;
    width: 160px;
    height: 100%;
    padding-top: 15px;
    background-color: #FFF;
    background-color: #F7F7F7;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #E3E3E3;
    z-index: 1;
}

#navigation>h1 {
    margin-left: 5px;
}

#navigation>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#navigation li {
    -webkit-border-start: 6px solid transparent;
    -webkit-padding-start: 18px;
    user-select: none;
    color: #999;
    cursor: pointer;
    line-height: 17px;
    margin: 5px 0;
}

#navigation li:hover {
    color: #777;
}

#navigation li.selected {
    -webkit-border-start-color: rgb(78, 87, 100);
    color: rgb(70, 78, 90);
    font-weight: bold;
}

#maincontent {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    border: none;
}

.box {
    /* margin-left: 180px; */
    /* padding-top: 15px; */
    /* padding-right: 15px; */
}

.box h1 {
    color: #000;
    margin-top: 10px;
    margin-left: -10px;
    font-size: 200%;
}

.section-title {
    margin-top: 0px;
    margin-left: -10px;
    margin-bottom: 10px;
    font-size: 110%;
    font-weight: bold;
}

.section-title:first-of-type {
    margin-top: 10px;
}

.button {
    cursor: pointer;
}

.formLine {
    height: 30px;
}

.checker>span {
    margin-top: -2px !important;
}

A:link, A:visited, A:active, .link_like {
    color: #4183C4;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
}

.linkify {
    cursor: pointer;
}

.linkify:hover {
    color: #4D4D4D;
}

.helper {
    border-bottom: 1px dotted #9e9e9e !important;
    color: #9e9e9e !important;
    cursor: pointer !important;
    text-decoration: none !important;
}

hr {
    margin: 10px 0 10px -15px;
    border-top-color: #E3E3E3;
    border-top-style: solid;
    border-width: 1px 0 0 0;
}

.template {
    display: none !important;
}

.table {
    padding-left: 0px;
    width: 100%;
    display: table;
    border-collapse: separate;
    border-spacing: 0px;
}

.table_row {
    width: 100%;
    display: table-row;
    vertical-align: middle;
}

.header div {
    padding-left: 10px;
    font-weight: bold;
}

.table_row div {
    height: 30px;
    padding-left: 10px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
}

.fa {
    font-size: 1.2em;
    line-height: 20px;
}


nav {
    color: #fff;
    background-color: rgb(65, 86, 181);
    width: 100%;
    height: 56px;
    line-height: 56px;
    padding: 0 30px;
    z-index: 999999;
}



.inline{
  display: inline-block;
}

.inline span {
  padding: 2px 4px;
  background: rgb(65, 86, 181);
  color: white;
  margin-right: 8px;
  border-radius: 2px;
  cursor: pointer;
  box-shadow: 0 0 2px rgb(65, 86, 181);
}

.inline span:hover {
  box-shadow: 0 0 6px rgb(65, 86, 181);
}


.hidden{
  display: none;
}
.table_row.active{
  background: rgba(65, 86, 181, 0.34);
}

.w100{
  width:100%
}



.custom-select {
  display: inline-block;
  width: 100%;
  height: calc(2.25rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-weight: 400;
  line-height: 1.5;
  color: #6e707e;
  vertical-align: middle;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%235a5c69' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 0.75rem center/8px 10px;
  background-color: #fff;
  border: 1px solid #d1d3e2;
  border-radius: 0.35rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-select:focus {
  border-color: #bac8f3;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.2rem rgba(186, 200, 243, 0.5);
  box-shadow: 0 0 0 0.2rem rgba(186, 200, 243, 0.5);
}

.custom-select:focus::-ms-value {
  color: #6e707e;
  background-color: #fff;
}

.custom-select[multiple], .custom-select[size]:not([size="1"]) {
  height: auto;
  padding-right: 0.75rem;
  background-image: none;
}

.custom-select:disabled {
  color: #858796;
  background-color: #eaecf4;
}

.custom-select::-ms-expand {
  opacity: 0;
}

.custom-select-sm {
  height: calc(1.8125rem + 2px);
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  padding-left: 0.5rem;
  font-size: 0.875rem;
}

::-webkit-scrollbar {
  z-index: 30;
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: rgb(255, 255, 255);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(65, 86, 181);
}

.nav-bottom{height: 20px;box-shadow: 0 0 8px rgb(65, 86, 181);position: fixed;bottom: 0;}

.bottomNavLinks{float: right;}

.bottomNavLinks i {
  cursor: pointer
}

nav i.fa-unlock:before{
  color: #F44336;
}

nav i.fa-lock:before{
  color: #4CAF50;
}



@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes fadeOutDown {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
}

.fadeOutDown {
  -webkit-animation-name: fadeOutDown;
  animation-name: fadeOutDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ace_editor{
  height:200px;
  opacity: 0.8;
}

.w90{
  width: 90%;
  margin-left: 5%;
}

.mr20{
  margin-right: 20px
}

.mt10{
  margin-top: 10px
}

.minmax{
  float: right;
}

.minmax span {
  color: rgb(65, 86, 181);
  cursor: pointer;
  font-size: .8rem;
  transition-timing-function: linear;
  transition: 1s;
}
.minmax span:hover {
  font-size: .7rem;
  transition-timing-function: linear;
  transition: .5s;
}

.data_row{
  cursor: pointer;
}

.data_row span{
  cursor: crosshair;
  line-height: 2;
}
