@font-face {
  font-family: 'Oxygen';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Oxygen.woff2') format('woff2')
}

@font-face {
  font-family: 'Oxygen-Light';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Oxygen-Light.woff2') format('woff2')
}

@font-face {
  font-family: 'Oxygen-Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Oxygen-Medium.woff2') format('woff2')
}

@font-face {
  font-family: 'Oxygen-Heavy';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Oxygen-Heavy.woff2') format('woff2');
}

@font-face {
  font-family: 'Oxygen-Bold';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Oxygen-Bold.woff2') format('woff2')
}
